<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.my.hello.editor.ui.MyGraphicalEditor"
            contributorClass="com.my.hello.editor.ui.MyGraphicalEditorActionBarContributor"
            default="false"
            extensions="enterprise"
            icon="icons/script_attribute_e_16px_514391_easyicon.net.ico"
            id="com.my.hello.editor.ui.mygraphicaleditor"
            name="MyGraphicalEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.eclipse.ui.main.menu.hello"
               label="Hello">
            <command
                  commandId="com.my.hello.editor.command1"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.my.hello.editor.handler.OpenEditorHandler"
            id="com.my.hello.editor.command1"
            name="Open Editor">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <primaryWizard
            id="com.my.hello.editor.new_enterprise">
      </primaryWizard>
      <category
            id="com.my.hello.wizard"
            name="MyWizard">
      </category>
      <wizard
            category="com.my.hello.wizard"
            class="com.my.hello.editor.wizard.NewEnterpriseWizard"
            hasPages="true"
            icon="icons/script_attribute_e_16px_514391_easyicon.net.ico"
            id="com.my.hello.editor.new_enterprise"
            name="Enterprise">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <newWizardShortcut
               id="com.my.hello.editor.new_enterprise">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <newWizardShortcut
               id="com.my.hello.editor.new_enterprise">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
